.character-details {
  background-color: $darkBlue;
  padding: 2rem;

  .char-name {
    color: $white;
    text-align: center;
    font-size: 5rem;
  }

  .details-content {
    max-width: 100%;
    margin-bottom: 2.5rem;
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }

    .details-list {
      list-style: none;
      padding: 1rem;
      margin: 0;
      background-color: $blue;

      li {
        border-bottom: 1px solid $darkBlue;
        margin-bottom: 1rem;
        ul li {
          border-bottom: none;
          margin-bottom: .5rem;
        }
      }
      .detail-label {
        font-weight: 700;
      }
    }
  }
}

@include desktop {
  .character-details {
    .details-content {
      @include flex-center;
      gap: 2rem;
      img {
        display: inline-block;
        margin: unset;
        max-width: 50%;
      }
    }
  }
}
