.death-star-container {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 15rem;

  i.death-star-top, i.death-star-bottom {
    z-index: 1111;
    position: absolute;
    width: 15rem;
    right: 2rem;
  }
  i.death-star-top {
    bottom: 8rem;
  }
  i.death-star-bottom {
    bottom: .6rem;
  }
  i.explosion {
    @include flex-center;
    transform: scale(0);
  }
}

@keyframes deathStarExplodeTop {
  100% {
    right: 20rem;
    bottom: 80rem;
    transform: rotate(960deg);
  }
}

@keyframes deathStarExplodeBottom {
  100% {
    right: 115rem;
    bottom: -100rem;
    transform: rotate(460deg);
  }
}

@keyframes explosion {
  0% {
    transform: rotate(90deg) scale(.1);
  }
  50% {
    transform: scale(2);
  }
  99% {
    transform: scale(.1);
  }
  100% {
    transform: rotate(90deg) scale(0);
  }
}
