.main-hero {
  height: fit-content;
  overflow: hidden;
  width: 100%;
  background-image: url(../assets/grogu-epic.jpg);
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

  .main-hero-text-container {
    background-color: rgba($black, 0.2);
    backdrop-filter: blur(10px);
    height: 80%;
    width: 70vw;
    .container {
      width: 90%;
      max-width: 60rem;
    }
    h1 {
      margin: 0;
      font-size: 5vw;
      padding-top: 2rem;
    }
    p, h1 {
      text-align: center;
      color: $white;
    }
  }
}
@include tablet {
  .main-hero {
    .main-hero-text-container {
      width: 50vw;
    }
  }
}
@include desktop {
  .main-hero {
  .main-hero-text-container {
    h1 {
      font-size: 5rem;
    }
  }
}

}