i.death-star {
  content: url('../assets/icons/death-star.svg');
}
i.death-star-top {
  content: url('../assets/icons/death-star-top.svg');
}
i.death-star-bottom {
  content: url('../assets/icons/death-star-bottom.svg');
}