i.death-star {
  content: url('../assets/icons/death-star.svg');
}
i.death-star-top {
  content: url('../assets/icons/death-star-top.svg');
}
i.death-star-bottom {
  content: url('../assets/icons/death-star-bottom.svg');
}
i.explosion {
  content: url('../assets/icons/explosion.svg');
}
i.back-chevron {
  content: url('../assets/icons/back-chevron.svg');
}